{{ form_start(form) }}
<div class="row">
	<div class="col-md-12 form-group">
		{{form_label(form.name)}}
		{{form_widget(form.name, {'attr' : {class : "form-control", placeholder: "place"}})}}
		{% if errors.name is defined %}
			{% for k, message in errors.name %}
			<div class="row">
				<small class="text-danger">
					{{message}}
				</small>
			</div>
			{% endfor %}
		{% endif %}

	</div>
</div>
<div class="row">
	<div class="col-md-12 form-group">
		{{form_label(form.address)}}
		{{form_widget(form.address, {'attr' : {class : "form-control"}})}}
		{% if errors.address is defined %}
			{% for k, message in errors.address %}
			<div class="row">
				<small class="text-danger">
					{{message}}
				</small>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="col-md-12 form-group">
		{{form_label(form.latitude)}}
		{{form_widget(form.latitude, {'attr' : {class : "form-control"}})}}
		{% if errors.latitude is defined %}
			{% for k, message in errors.latitude %}
			<div class="row">
				<small class="text-danger">
					{{message}}
				</small>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="col-md-12 form-group">
		{{form_label(form.longitude)}}
		{{form_widget(form.longitude, {'attr' : {class : "form-control"}})}}
		{% if errors.longitude is defined %}
			{% for k, message in errors.longitude %}
			<div class="row">
				<small class="text-danger">
					{{message}}
				</small>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{# {{ form_widget(form) }} #}
<div class="row">
	<div class="col">
		<div class="col-md-12 form-group">
			<button class="btn btn-primary">{{ button_label|default("form.agency.save"|trans) }}</button>
		</div>
	</div>
</div>
{{ form_end(form) }}

<div data-controller="lazy-form-agency"></div>
