{% extends 'base.html.twig' %}

{% block title %}{{"page.agency.index.title"|trans}}{% endblock %}

{% block body %}
    <h1>{{"page.agency.index.title"|trans}}</h1>

    {% for type, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{type}} alert-dismissible fade show">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table list-agencies">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{"agencies.name"|trans}}</th>
                <th>{{"agencies.address"|trans}}</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agency in agencies %}
            <tr>
                <td>{{ agency.id }}</td>
                <td>{{ agency.name }}</td>
                <td>{{ agency.address }}</td>
                <td>{{ agency.latitude }}</td>
                <td>{{ agency.longitude }}</td>
                <td>
                    <a href="{{ path('app_agency_show', {'id': agency.id}) }}">{{"agencies.show"|trans}}</a>
                    <a href="{{ path('app_agency_edit', {'id': agency.id}) }}">{{"agencies.edit"|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{"agencies.nodata"|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agency_new') }}">{{"agencies.create"|trans}}</a>
{% endblock %}
