{% extends 'base.html.twig' %}

{% block title %}{{"form.agency.create"|trans}}{% endblock %}

{% block body %}
    <h1>{{"page.agency.new.title"|trans}}</h1>

    {{ include('agency/_form.html.twig') }}

    <a href="{{ path('app_agency_index') }}">{{"form.backtolist"|trans}}</a>
{% endblock %}
